<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>Web.Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Web.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registertest</display-name>
    <servlet-name>Registertest</servlet-name>
    <servlet-class>Web.Registertest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registertest</servlet-name>
    <url-pattern>/Registertest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchData</display-name>
    <servlet-name>SearchData</servlet-name>
    <servlet-class>Web.SearchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchData</servlet-name>
    <url-pattern>/SearchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getData</display-name>
    <servlet-name>getData</servlet-name>
    <servlet-class>Web.getData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getData</servlet-name>
    <url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>Web.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Policy</display-name>
    <servlet-name>Policy</servlet-name>
    <servlet-class>Web.Policy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Policy</servlet-name>
    <url-pattern>/Policy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Web.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPolicy_Admin</display-name>
    <servlet-name>viewPolicy_Admin</servlet-name>
    <servlet-class>Web.viewPolicy_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPolicy_Admin</servlet-name>
    <url-pattern>/viewPolicy_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPolicy_Admin2</display-name>
    <servlet-name>viewPolicy_Admin2</servlet-name>
    <servlet-class>Web.viewPolicy_Admin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPolicy_Admin2</servlet-name>
    <url-pattern>/viewPolicy_Admin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPolicy_Admin3</display-name>
    <servlet-name>viewPolicy_Admin3</servlet-name>
    <servlet-class>Web.viewPolicy_Admin3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPolicy_Admin3</servlet-name>
    <url-pattern>/viewPolicy_Admin3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailPDF_Admin</display-name>
    <servlet-name>mailPDF_Admin</servlet-name>
    <servlet-class>Web.mailPDF_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailPDF_Admin</servlet-name>
    <url-pattern>/mailPDF_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPolicy_Client</display-name>
    <servlet-name>viewPolicy_Client</servlet-name>
    <servlet-class>Web.viewPolicy_Client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPolicy_Client</servlet-name>
    <url-pattern>/viewPolicy_Client</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPolicy_Client3</display-name>
    <servlet-name>viewPolicy_Client3</servlet-name>
    <servlet-class>Web.viewPolicy_Client3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPolicy_Client3</servlet-name>
    <url-pattern>/viewPolicy_Client3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentPortal_Admin</display-name>
    <servlet-name>paymentPortal_Admin</servlet-name>
    <servlet-class>Web.paymentPortal_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentPortal_Admin</servlet-name>
    <url-pattern>/paymentPortal_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentPortal_Admin2</display-name>
    <servlet-name>paymentPortal_Admin2</servlet-name>
    <servlet-class>Web.paymentPortal_Admin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentPortal_Admin2</servlet-name>
    <url-pattern>/paymentPortal_Admin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test4</display-name>
    <servlet-name>test4</servlet-name>
    <servlet-class>Web.test4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test4</servlet-name>
    <url-pattern>/test4</url-pattern>
  </servlet-mapping>
</web-app>